In [96]:
# import required packages

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectKBest
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [97]:
pwd

'C:\\Users\\reddyvari.n\\Downloads\\Algorithms_practiced\\HR Analytics'

In [98]:
df=pd.read_csv('Employee_Performance.csv')

In [99]:
df.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4
3,E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,...,2,23,2,2,21,6,12,6,No,3
4,E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,...,4,10,1,3,2,2,2,2,No,3

In [100]:
## Summary statistics for numerical fields

df.corr().tail()

,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,PerformanceRating
ExperienceYearsAtThisCompany,0.318852,0.021908,0.076332,-0.000561,-0.000399,-0.039720,0.540377,0.001807,-0.129797,-0.019830,0.015612,0.633555,0.008564,0.023479,1.000000,0.764102,0.620230,0.759258,-0.111645
ExperienceYearsInCurrentRole,0.217163,0.019898,0.066672,0.025491,-0.011871,0.002910,0.399235,0.002018,-0.097271,-0.004957,-0.032131,0.460700,0.010222,0.045719,0.764102,1.000000,0.540600,0.728973,-0.147638
YearsSinceLastPromotion,0.228199,0.013246,0.054313,0.010732,-0.010000,-0.019944,0.360880,-0.006508,-0.031656,-0.015911,0.026253,0.412781,0.018831,0.015773,0.620230,0.540600,1.000000,0.491199,-0.167629
YearsWithCurrManager,0.205098,0.017860,0.088988,-0.011702,-0.004576,0.012924,0.374872,-0.022096,-0.109937,-0.007666,-0.006426,0.460783,-0.013237,0.010518,0.759258,0.728973,0.491199,1.000000,-0.122313
PerformanceRating,-0.040164,-0.046142,0.020529,0.395561,-0.043116,-0.010539,-0.076632,0.000606,0.020980,0.333722,-0.019502,-0.068141,-0.005443,0.124429,-0.111645,-0.147638,-0.167629,-0.122313,1.000000

In [101]:
# Check for Null values

df.isnull().sum()

EmpNumber                       0
Age                             0
Gender                          0
EducationBackground             0
MaritalStatus                   0
EmpDepartment                   0
EmpJobRole                      0
BusinessTravelFrequency         0
DistanceFromHome                0
EmpEducationLevel               0
EmpEnvironmentSatisfaction      0
EmpHourlyRate                   0
EmpJobInvolvement               0
EmpJobLevel                     0
EmpJobSatisfaction              0
NumCompaniesWorked              0
OverTime                        0
EmpLastSalaryHikePercent        0
EmpRelationshipSatisfaction     0
TotalWorkExperienceInYears      0
TrainingTimesLastYear           0
EmpWorkLifeBalance              0
ExperienceYearsAtThisCompany    0
ExperienceYearsInCurrentRole    0
YearsSinceLastPromotion         0
YearsWithCurrManager            0
Attrition                       0
PerformanceRating               0
dtype: int64

In [102]:
df.shape

(1200, 28)

In [103]:
df.drop(columns='EmpNumber',inplace=True) # Remvoving Employee number which is not of any value

In [104]:
df.head()

,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,4,...,4,10,2,2,10,7,0,8,No,3
1,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,4,...,4,20,2,3,7,7,1,7,No,3
2,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,4,...,3,20,2,3,18,13,1,12,No,4
3,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,2,...,2,23,2,2,21,6,12,6,No,3
4,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,1,...,4,10,1,3,2,2,2,2,No,3

In [105]:
# converting all categorical features to numerical

l=LabelEncoder()

In [106]:
df.Gender=l.fit_transform(df.Gender)
df.EducationBackground=l.fit_transform(df.EducationBackground)
df.MaritalStatus=l.fit_transform(df.MaritalStatus)
df.EmpDepartment=l.fit_transform(df.EmpDepartment)
df.EmpJobRole=l.fit_transform(df.EmpJobRole)
df.BusinessTravelFrequency=l.fit_transform(df.BusinessTravelFrequency)
df.Attrition=l.fit_transform(df.Attrition)
df.OverTime=l.fit_transform(df.OverTime)

In [107]:
df.head()

,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,32,1,2,2,5,13,2,10,3,4,...,4,10,2,2,10,7,0,8,0,3
1,47,1,2,2,5,13,2,14,4,4,...,4,20,2,3,7,7,1,7,0,3
2,40,1,1,1,5,13,1,5,4,4,...,3,20,2,3,18,13,1,12,0,4
3,41,1,0,0,3,8,2,10,4,2,...,2,23,2,2,21,6,12,6,0,3
4,60,1,2,2,5,13,2,16,4,1,...,4,10,1,3,2,2,2,2,0,3

In [108]:
df.to_csv('Employee_Performance_processed data')

In [109]:
# Summary Statistics

df.corr().tail()

,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
ExperienceYearsInCurrentRole,0.217163,-0.031823,-0.003215,-0.076663,0.069602,0.019383,-0.006541,0.019898,0.066672,0.025491,...,-0.032131,0.460700,0.010222,0.045719,0.764102,1.000000,0.540600,0.728973,-0.173895,-0.147638
YearsSinceLastPromotion,0.228199,-0.021575,0.014277,-0.052951,0.052315,0.012190,-0.020824,0.013246,0.054313,0.010732,...,0.026253,0.412781,0.018831,0.015773,0.620230,0.540600,1.000000,0.491199,-0.057199,-0.167629
YearsWithCurrManager,0.205098,-0.036643,0.002767,-0.061908,0.033850,-0.004504,-0.028073,0.017860,0.088988,-0.011702,...,-0.006426,0.460783,-0.013237,0.010518,0.759258,0.728973,0.491199,1.000000,-0.158745,-0.122313
Attrition,-0.189317,0.035758,0.027161,0.162969,0.048006,0.037508,0.007217,0.063248,-0.049118,-0.123490,...,-0.037179,-0.185226,-0.035047,-0.068624,-0.142456,-0.173895,-0.057199,-0.158745,1.000000,-0.039796
PerformanceRating,-0.040164,-0.001780,0.005607,0.024172,-0.162615,-0.096209,-0.031025,-0.046142,0.020529,0.395561,...,-0.019502,-0.068141,-0.005443,0.124429,-0.111645,-0.147638,-0.167629,-0.122313,-0.039796,1.000000

In [ ]:
df.shape

In [67]:
# Spliting the data into x and y

x=df.iloc[:,:-1]
y=df.iloc[:,26]

In [68]:
x.head()

,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,32,1,2,2,5,13,2,10,3,4,...,12,4,10,2,2,10,7,0,8,0
1,47,1,2,2,5,13,2,14,4,4,...,12,4,20,2,3,7,7,1,7,0
2,40,1,1,1,5,13,1,5,4,4,...,21,3,20,2,3,18,13,1,12,0
3,41,1,0,0,3,8,2,10,4,2,...,15,2,23,2,2,21,6,12,6,0
4,60,1,2,2,5,13,2,16,4,1,...,14,4,10,1,3,2,2,2,2,0

In [69]:
y.head()

0    3
1    3
2    4
3    3
4    3
Name: PerformanceRating, dtype: int64

In [70]:
# Extracting the best features from available predictor variables

from sklearn.feature_selection import SelectKBest,chi2

In [71]:
x=df.iloc[:,:-1]
y=df.iloc[:,26]

In [72]:
sel=SelectKBest(chi2,k=3)    # selected 12 important features by using SelectKBest

In [73]:
sel.fit(x,y)

SelectKBest(k=3, score_func=<function chi2 at 0x000001861CE29400>)

In [74]:
sel.transform(x)

array([[12, 10,  0],
       [12,  7,  1],
       [21, 18,  1],
       ...,
       [11, 20,  3],
       [14,  8,  7],
       [14,  2,  2]], dtype=int64)

In [75]:
# Spliting the data into train and test

xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20,random_state=20)

In [76]:
r=RandomForestClassifier()

In [77]:
r.fit(xtrain,ytrain)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [78]:
ypredict=r.predict(xtest)

In [79]:
accuracy_score(ypredict,ytest)

0.925

In [80]:
confusion_report=confusion_matrix(ypredict,ytest)

In [81]:
confusion_report

array([[ 29,   6,   0],
       [  6, 174,   2],
       [  0,   4,  19]], dtype=int64)